# Copyright (C) 2020-2024 Serghei Iakovlev <gnu@serghei.pl>
#
# This file is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 3
# of the License, or (at your option) any later version.
#
# This file is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this file.  If not, see <https://www.gnu.org/licenses/>.

# Please do not use this ignore file to define platform specific files.
#
# For these purposes create a global .gitignore file, which is a list of rules
# for ignoring files in every Git repository on your workstation.
#
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore
#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).

# Pytest cache.
/.pytest_cache

# Virtual Environment.
/.venv

# Build artifacts.
/dist
/docs/_build

# Python cache.
*.py[cod]
__pycache__

# Codecoverage stuff.
/htmlcov
/coverage.*
/.coverage
