# Copyright (C) 2020, 2021, 2022 Serghei Iakovlev <egrep@protonmail.ch>
#
# This file is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 3
# of the License, or (at your option) any later version.
#
# This file is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this file.  If not, see <https://www.gnu.org/licenses/>.

# testing
# flake8>=6.0.0 requires Python 3.8
flake8>=3.8.4,<6.0.0; python_version < '3.8'
flake8>=3.8.4; python_version >= '3.8'
coverage[toml]
pylint>=2.6.0,!=2.6.1
pytest
flake8-import-order
flake8-blind-except
check-manifest

# docs
# freeze sphinx because flake8 requires importlib-metadata<4.3
# for python<3.8 but sphinx>=4.4.0 requires importlib-metadata>=4.4
sphinx>=3.5.0,<=4.3.2; python_version < '3.8'
sphinx>=3.5.0; python_version >= '3.8'
furo

# develop
twine
wheel
check-wheel-contents
