# Copyright (C) 2020-2026 Serghei Iakovlev <gnu@serghei.pl>
#
# This file is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 3
# of the License, or (at your option) any later version.
#
# This file is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this file.  If not, see <https://www.gnu.org/licenses/>.

name: Docs

on:
  push:
    branches-ignore:
      # These should always correspond to pull requests, so ignore them for
      # the push trigger and let them be triggered by the pull_request
      # trigger, avoiding running the workflow twice.  This is a minor
      # optimization so there's no need to ensure this is comprehensive.
      - 'dependabot/**'

  pull_request:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest
    name: Build and test package documentation

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python 3.12
        run: uv python install 3.12

      - name: Install dependencies
        run: uv sync --group dev

      - name: Build and test package documentation
        run: |
          uv run sphinx-build --nitpicky --show-traceback --fail-on-warning --builder html docs docs/_build/html
          uv run sphinx-build --nitpicky --show-traceback --fail-on-warning --builder doctest docs docs/_build/doctest

          uv run python -m doctest README.rst
